.banner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 51px;
    width: 100%;
    background-image: url(https://assets.codingdojo.com/learn_platform/user/dashboard/track_bg/pre_bootcamp_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -247px;
    height: 110px;
    font-family: 'Poppins', sans-serif;
    
}


.banner__info {
    background-color: whitesmoke;
    display: block;
    align-content: center;
    height: 75px;

}

.banner>h4 {
    display: flex;
    color: grey;
    position: absolute;
<<<<<<< HEAD
    top: 70px;
    left: 40px;
=======
    top: 80px;
    left: 30px;
>>>>>>> d54fd653ea9c16470927fe07723c87d2c64d805b
    text-transform: capitalize !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;

}


.banner__info>h5 {
    position: absolute;
    /* bottom: 200x; */
    left: 50px;
    text-transform: capitalize !important;
    color: #152c61;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* margin-bottom: 0; */
    top: 150px;
    padding: 0px;
}
