.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 1309px;


}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    justify-content: flex-end;
}

.header__left>button {
    align-items: center;
    background: #dce6ff;
    border-radius: 6px;
    color: #2c6bff;
    display: flex;
    font: normal 600 16px/24px "Poppins", sans-serif;
    height: 26px;
    justify-content: center;
    margin-left: 10px;
    text-align: center;
    width: 52px;
}

.arrow_icon {
    margin: 10px;
    color: #2C6BFF;
}

.header__left>h1 {
    margin-top: 10px;
    font-size: 28px;
    color: #152C61;
    font-weight: 3000;
    font-style: bold;
}

.header__left>p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
}

.search__bar {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 999px;
    margin: 10px;
}

.search__bar>input {
    border: none;
    outline-width: 0;
}


.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__right>a {
    margin: 10px;
    padding: 8px;
    color: #2C6BFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}


.avatar {
    margin: 10px !important;
}


a.menu_links {
    cursor: pointer;
}