* {
    box-sizing: border-box;
}

.main {

    background-color: rgb(251, 251, 251);

}

.top {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(21, 44, 97, .1);
    height: 100px;
}


.container {
    display: flex;
    flex-direction: column;
    /* background-color: lightskyblue; */
    justify-content: center;
    background-color: rgb(251, 251, 251);
    margin: 0 30 0 30px;
}

.dash__container {
    display: flex;
    /* background-color: lightslategrey; */
    align-items: flex-start;
    /* padding: 20px; */
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);

}