* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-color: rgb(251, 251, 251)
}

.top {
    display: flex;
    justify-content: center;
    width: 1500px;
    margin: 0 auto;
    /* padding: 20px; */
}

.middle {
    padding: 5px;
    background-color: rgb(251, 251, 251);
    border-top: 1px solid rgba(21, 44, 97, .1);
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(251, 251, 251);
    margin: 0 30 0 30px;
}

.dash__container {
    display: flex;
    /* background-color: lightslategrey; */
    align-items: flex-start;
    /* margin: 20px; */
    /* padding: 20px; */
    box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
}