.sidebar {
    align-items: flex-start;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 31px 30px 28px;
    width: 522px;
    height: 800px;
}

img {
    height: 20px;
}

.course_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar>h1 {

    color: #152c61;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
}