.sub {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 100;
    top: 0;
    padding: 30px 0 30px;

}

.sub__left {
    display: flex !important;
    height: 40px !important;
    padding: 10px !important;
    align-items: center !important;
    justify-content: space-between;
    margin-right: 60px;

}

.sub__left>p {
    display: flex !important;
    margin: 10px !important;
    font-size: 16px;

}

.sub__left>.MuiSvgIcon-root {
    color: #2C6BFF;
    box-shadow: inset 0 0 5px #e5e5e5;
    border-radius: 10px;
}

.sub__right>.MuiSvgIcon-root {
    color: #2C6BFF;
    box-shadow: inset 0 0 5px #e5e5e5;
    border-radius: 10px;
    transform: scale(1.2);
}

.toggle>.MuiSvgIcon-root {
    transform: scale(2.8);
    color: #2C6BFF;
    margin-left: 20px;
}



.sub__right {
    margin: 10px !important;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
    display: flex;
    /* flex: 1 10px; */
    justify-content: space-around;
    width: 300px;
    margin-left: 60px;

}

.sub__right>toggle_icon {
    height: 200px;
}