.widget {
    align-items: center;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
    padding: 31px 28px 30px;
    right: 0;
    /* top: 0; */
    width: 738px;
}

.track_section {}

.card {}


.banner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 41px;
    width: 100%;
}